In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

In [3]:
data_path = '/Users/ashle/Springboard/Spark SQL/Data'

In [4]:
json_df2_path = data_path + '/utilization.json'
df2 = spark.read.format('json').load(json_df2_path)

In [5]:
df2.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [6]:
df2.count()

500000

In [7]:
df2.columns

['cpu_utilization',
 'event_datetime',
 'free_memory',
 'server_id',
 'session_count']

**Basic Operations**

In [8]:
df2_sample = df2.sample(False, fraction = 0.1)

In [9]:
df2_sample.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
|           0.62|03/05/2019 10:36:14|       0.36|      100|           50|
|            0.5|03/05/2019 12:16:14|        0.5|      100|           51|
|           0.65|03/05/2019 12:21:14|       0.37|      100|           65|
|           0.29|03/05/2019 13:11:14|       0.48|      100|           48|
|           0.39|03/05/2019 14:46:14|       0.43|      100|           39|
|           0.63|03/05/2019 15:56:14|       0.42|      100|           61|
|           0.39|03/05/2019 16:01:14|       0.34|      100|           60|
|           0.58|03/05/2019 16:56:14|       0.38|      100|           67|
|           0.57|03/05/2019 19:56:14|       0.36|      100|           43|
|           0.32|03/05/2019 20:21:14|       0.41|      100|           66|
|           0.57|03/05/2019 21:21:14|       0.33|      100|           43|
|           0.52|03/05/2019 21:46:14|       0.49|      100|           53|
|           0.51|03/05/2019 21:56:14|       0.56|      100|           42|
|           0.65|03/05/2019 22:01:14|       0.44|      100|           67|
|           0.55|03/05/2019 22:11:14|       0.57|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [10]:
df2_sorted = df2_sample.sort('event_datetime')

In [11]:
df2_sorted.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.54|03/05/2019 08:06:23|       0.38|      105|           74|
|           0.64|03/05/2019 08:06:26|       0.55|      107|           56|
|           0.78|03/05/2019 08:06:40|       0.22|      115|           62|
|           0.65|03/05/2019 08:07:01|       0.36|      128|           83|
|           0.63|03/05/2019 08:07:23|       0.39|      139|           93|
|           0.41|03/05/2019 08:07:31|       0.45|      143|           37|
|           0.39|03/05/2019 08:07:39|       0.63|      147|           49|
|           0.74|03/05/2019 08:07:44|       0.27|      149|           66|
|           0.58|03/05/2019 08:11:31|       0.61|      110|           76|
|           0.62|03/05/2019 08:12:09|       0.63|      132|           59|
|           0.52|03/05/2019 08:12:17|       0.44|      136|           54|
|           0.54|03/05/2019 08:12:21|       0.45|      138|           39|
|           0.73|03/05/2019 08:16:53|       0.46|      123|           81|
|           0.95|03/05/2019 08:21:19|       0.24|      103|           83|
|           0.26|03/05/2019 08:21:24|       0.45|      106|           38|
|           0.46|03/05/2019 08:21:33|       0.27|      111|           74|
|            0.7|03/05/2019 08:22:19|       0.18|      137|           89|
|           0.61|03/05/2019 08:22:29|       0.36|      142|           67|
|           0.35|03/05/2019 08:22:31|       0.34|      143|           66|
|           0.62|03/05/2019 08:26:34|       0.39|      112|           83|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

**Filter Data**

In [12]:
file_path = data_path + '/location_temp.csv'
df1 = spark.read.format('csv').option('header','true').load(file_path)

In [13]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [14]:
df1.filter(df1['location_id'] == 'loc0').show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [15]:
df1.filter(df1['location_id'] == 'loc0').count()

1000

In [16]:
df1.filter(df1['location_id'] == 'loc1').count()

1000

In [17]:
df1.filter(df1['location_id'] == 'loc1').show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc1|          31|
|03/04/2019 19:53:06|       loc1|          26|
|03/04/2019 19:58:06|       loc1|          31|
|03/04/2019 20:03:06|       loc1|          26|
|03/04/2019 20:08:06|       loc1|          28|
|03/04/2019 20:13:06|       loc1|          27|
|03/04/2019 20:18:06|       loc1|          30|
|03/04/2019 20:23:06|       loc1|          28|
|03/04/2019 20:28:06|       loc1|          28|
|03/04/2019 20:33:06|       loc1|          27|
|03/04/2019 20:38:06|       loc1|          30|
|03/04/2019 20:43:06|       loc1|          32|
|03/04/2019 20:48:06|       loc1|          26|
|03/04/2019 20:53:06|       loc1|          30|
|03/04/2019 20:58:06|       loc1|          26|
|03/04/2019 21:03:06|       loc1|          28|
|03/04/2019 21:08:06|       loc1|          27|
|03/04/2019 21:13:06|       loc1|          28|
|03/04/2019 21:18:06|       loc1|          27|
|03/04/2019 21:23:06|       loc1|          26|
+-------------------+-----------+------------+
only showing top 20 rows

**Aggregating**

In [18]:
df1.groupBy('location_id').count().show()

+-----------+-----+
|location_id|count|
+-----------+-----+
|      loc22| 1000|
|      loc31| 1000|
|      loc82| 1000|
|      loc90| 1000|
|     loc118| 1000|
|      loc39| 1000|
|      loc75| 1000|
|     loc122| 1000|
|      loc24| 1000|
|      loc30| 1000|
|     loc105| 1000|
|      loc96| 1000|
|     loc102| 1000|
|      loc18| 1000|
|      loc27| 1000|
|     loc143| 1000|
|      loc43| 1000|
|     loc123| 1000|
|      loc15| 1000|
|      loc48| 1000|
+-----------+-----+
only showing top 20 rows

In [19]:
df1.orderBy('location_id').show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 21:23:06|       loc0|          28|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
+-------------------+-----------+------------+
only showing top 20 rows

In [20]:
df1.groupBy('location_id').agg({'temp_celcius': 'mean'}).show()

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|      loc22|           28.251|
|      loc31|           25.196|
|      loc82|           27.355|
|      loc90|           23.216|
|     loc118|           24.219|
|      loc39|           25.199|
|      loc75|           23.209|
|     loc122|            32.36|
|      loc24|           31.109|
|      loc30|           30.211|
|     loc105|           26.217|
|      loc96|           28.138|
|     loc102|           30.327|
|      loc18|           30.198|
|      loc27|           31.239|
|     loc143|           28.213|
|      loc43|           32.196|
|     loc123|           23.424|
|      loc15|           32.171|
|      loc48|           30.244|
+-----------+-----------------+
only showing top 20 rows

In [21]:
df1.groupBy('location_id').agg({'temp_celcius': 'max'}).show()

+-----------+-----------------+
|location_id|max(temp_celcius)|
+-----------+-----------------+
|       loc0|               36|
|       loc1|               35|
|      loc10|               32|
|     loc100|               34|
|     loc101|               32|
|     loc102|               37|
|     loc103|               32|
|     loc104|               33|
|     loc105|               33|
|     loc106|               34|
|     loc107|               40|
|     loc108|               39|
|     loc109|               31|
|      loc11|               32|
|     loc110|               33|
|     loc111|               38|
|     loc112|               40|
|     loc113|               37|
|     loc114|               36|
|     loc115|               30|
+-----------+-----------------+
only showing top 20 rows

**Sampling**

In [22]:
df1.count()

500000

In [23]:
df1_s1 = df1.sample(fraction = 0.1, withReplacement = False)

In [24]:
df1_s1.count()

50146

In [25]:
df1_s1.groupBy('location_id').agg({'temp_celcius':'mean'}).show()

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|      loc22| 28.36842105263158|
|      loc31| 24.85217391304348|
|      loc82|27.735632183908045|
|      loc90|23.298969072164947|
|     loc118|              24.3|
|      loc39|25.155555555555555|
|      loc75| 23.23076923076923|
|     loc122|32.477777777777774|
|      loc24|31.703296703296704|
|      loc30|             30.27|
|     loc105|26.177083333333332|
|      loc96|28.254901960784313|
|     loc102|30.405405405405407|
|      loc18|30.232323232323232|
|      loc27| 31.11111111111111|
|     loc143| 28.19298245614035|
|      loc43|           32.3125|
|     loc123|23.591836734693878|
|      loc15| 32.22522522522522|
|      loc48|             30.11|
+-----------+------------------+
only showing top 20 rows

In [26]:
df1_s1.groupBy('location_id').agg({'temp_celcius':'mean'}).orderBy('location_id').show()

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc0|29.515151515151516|
|       loc1|28.148936170212767|
|      loc10|24.956521739130434|
|     loc100|             27.08|
|     loc101|25.214285714285715|
|     loc102|30.405405405405407|
|     loc103| 25.60919540229885|
|     loc104| 25.89108910891089|
|     loc105|26.177083333333332|
|     loc106|27.082474226804123|
|     loc107|33.655913978494624|
|     loc108| 32.20909090909091|
|     loc109| 24.27777777777778|
|      loc11| 25.02061855670103|
|     loc110| 26.51685393258427|
|     loc111|31.058823529411764|
|     loc112| 33.90291262135922|
|     loc113|30.707865168539325|
|     loc114|28.897959183673468|
|     loc115|23.058823529411764|
+-----------+------------------+
only showing top 20 rows

In [27]:
df1.groupBy('location_id').agg({'temp_celcius':'mean'}).orderBy('location_id').show()

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|       loc0|           29.176|
|       loc1|           28.246|
|      loc10|           25.337|
|     loc100|           27.297|
|     loc101|           25.317|
|     loc102|           30.327|
|     loc103|           25.341|
|     loc104|           26.204|
|     loc105|           26.217|
|     loc106|           27.201|
|     loc107|           33.268|
|     loc108|           32.195|
|     loc109|           24.138|
|      loc11|           25.308|
|     loc110|           26.239|
|     loc111|           31.391|
|     loc112|           33.359|
|     loc113|           30.345|
|     loc114|           29.261|
|     loc115|           23.239|
+-----------+-----------------+
only showing top 20 rows

**Saving Dataframes**

In [29]:
#This is what happens when I try and run the line of code first
df1.write.csv('df1.csv')

Py4JJavaError: An error occurred while calling o102.csv.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.jobAbortedError(QueryExecutionErrors.scala:651)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:278)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:186)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:113)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:111)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.executeCollect(commands.scala:125)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:109)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:169)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:95)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:779)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:94)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:584)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:176)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:584)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:560)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:94)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:81)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:79)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:116)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:860)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:390)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:363)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:239)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:851)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Unknown Source)
Caused by: java.lang.UnsatisfiedLinkError: org.apache.hadoop.io.nativeio.NativeIO$Windows.access0(Ljava/lang/String;I)Z
	at org.apache.hadoop.io.nativeio.NativeIO$Windows.access0(Native Method)
	at org.apache.hadoop.io.nativeio.NativeIO$Windows.access(NativeIO.java:793)
	at org.apache.hadoop.fs.FileUtil.canRead(FileUtil.java:1218)
	at org.apache.hadoop.fs.FileUtil.list(FileUtil.java:1423)
	at org.apache.hadoop.fs.RawLocalFileSystem.listStatus(RawLocalFileSystem.java:601)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:1972)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:2014)
	at org.apache.hadoop.fs.ChecksumFileSystem.listStatus(ChecksumFileSystem.java:761)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:1972)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:2014)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.getAllCommittedTaskPaths(FileOutputCommitter.java:334)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJobInternal(FileOutputCommitter.java:404)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJob(FileOutputCommitter.java:377)
	at org.apache.spark.internal.io.HadoopMapReduceCommitProtocol.commitJob(HadoopMapReduceCommitProtocol.scala:192)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.$anonfun$write$25(FileFormatWriter.scala:267)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.timeTakenMs(Utils.scala:642)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:267)
	... 42 more

In [31]:
#if I try to run it again this is what it says
df1.write.json('df1.json')

AnalysisException: path file:/C:/Users/ashle/Springboard/Spark SQL/df1.json already exists.