In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

In [3]:
data_path = '/Users/ashle/Springboard/Spark SQL/Data'

In [4]:
json_df_path = data_path + '/utilization.json'
df = spark.read.format('json').load(json_df_path)

In [5]:
df.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [6]:
df.count()

500000

**Querying**

In [7]:
df.createOrReplaceTempView('utilization')

In [8]:
df_sql = spark.sql('SELECT * FROM utilization LIMIT 10')

In [9]:
df_sql.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+

In [10]:
df_sql.count()

10

In [12]:
df_sql = spark.sql('SELECT server_id, session_count FROM utilization LIMIT 10')

In [13]:
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           47|
|      100|           43|
|      100|           62|
|      100|           50|
|      100|           43|
|      100|           48|
|      100|           58|
|      100|           58|
|      100|           62|
|      100|           45|
+---------+-------------+

In [14]:
df_sql = spark.sql('SELECT server_id AS sid, session_count AS sc FROM utilization LIMIT 10')

In [15]:
df_sql.show()

+---+---+
|sid| sc|
+---+---+
|100| 47|
|100| 43|
|100| 62|
|100| 50|
|100| 43|
|100| 48|
|100| 58|
|100| 58|
|100| 62|
|100| 45|
+---+---+

**Filtering**

In [17]:
df_sql = spark.sql('SELECT * FROM utilization WHERE server_id = 120')
df_sql.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.66|03/05/2019 08:06:48|       0.31|      120|           54|
|           0.58|03/05/2019 08:11:48|       0.38|      120|           64|
|           0.55|03/05/2019 08:16:48|       0.61|      120|           54|
|            0.7|03/05/2019 08:21:48|       0.35|      120|           80|
|            0.6|03/05/2019 08:26:48|       0.39|      120|           71|
|           0.53|03/05/2019 08:31:48|       0.35|      120|           49|
|           0.73|03/05/2019 08:36:48|       0.42|      120|           73|
|           0.41|03/05/2019 08:41:48|        0.6|      120|           72|
|           0.62|03/05/2019 08:46:48|       0.57|      120|           57|
|           0.67|03/05/2019 08:51:48|       0.44|      120|           78|
|           0.67|03/05/2019 08:56:48|       0.38|      120|           73|
|           0.39|03/05/2019 09:01:48|       0.47|      120|           58|
|            0.5|03/05/2019 09:06:48|       0.29|      120|           78|
|           0.38|03/05/2019 09:11:48|       0.38|      120|           56|
|           0.53|03/05/2019 09:16:48|       0.38|      120|           47|
|           0.74|03/05/2019 09:21:48|       0.25|      120|           69|
|           0.53|03/05/2019 09:26:48|       0.57|      120|           73|
|           0.54|03/05/2019 09:31:48|       0.64|      120|           65|
|            0.7|03/05/2019 09:36:48|       0.52|      120|           55|
|           0.54|03/05/2019 09:41:48|       0.27|      120|           74|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [18]:
df_sql.count()

10000

In [20]:
df_sql = spark.sql('SELECT server_id, session_count FROM utilization WHERE session_count > 70')
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           72|
|      100|           72|
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           72|
|      100|           71|
|      100|           72|
|      100|           71|
|      100|           71|
|      100|           72|
|      100|           71|
|      100|           72|
|      100|           72|
|      100|           71|
|      100|           71|
+---------+-------------+
only showing top 20 rows

In [21]:
df_sql.count()

239659

In [23]:
df_sql = spark.sql('SELECT server_id, session_count FROM utilization WHERE session_count > 70 AND server_id = 120')
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      120|           80|
|      120|           71|
|      120|           73|
|      120|           72|
|      120|           78|
|      120|           73|
|      120|           78|
|      120|           73|
|      120|           74|
|      120|           78|
|      120|           75|
|      120|           75|
|      120|           73|
|      120|           79|
|      120|           72|
|      120|           77|
|      120|           75|
|      120|           72|
|      120|           79|
|      120|           75|
+---------+-------------+
only showing top 20 rows

In [25]:
df_sql.count()

2733

In [26]:
df_sql = spark.sql('SELECT server_id, session_count \
                    FROM utilization \
                    WHERE session_count > 70 AND server_id = 120 \
                    ORDER BY session_count DESC')
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
+---------+-------------+
only showing top 20 rows

**Aggregating**

In [27]:
df_count = spark.sql('SELECT count(*) FROM utilization')
df_count.show()

+--------+
|count(1)|
+--------+
|  500000|
+--------+

In [28]:
df_sql = spark.sql('SELECT count(*) \
                    FROM utilization \
                    WHERE session_count > 70')
df_sql.show()

+--------+
|count(1)|
+--------+
|  239659|
+--------+

In [31]:
df_sql = spark.sql('SELECT server_id, count(*) \
                    FROM utilization \
                    WHERE session_count > 70 \
                    GROUP BY server_id')
df_sql.show()

+---------+--------+
|server_id|count(1)|
+---------+--------+
|      103|    8744|
|      100|     391|
|      101|    9808|
|      102|    8586|
|      107|    5646|
|      104|    7366|
|      105|    1110|
|      110|    2826|
|      108|    8375|
|      109|    3129|
|      112|    7425|
|      113|    9418|
|      114|    2128|
|      111|    3093|
|      116|    1167|
|      115|    5284|
|      117|    3605|
|      120|    2733|
|      118|    7913|
|      121|    7084|
+---------+--------+
only showing top 20 rows

In [32]:
df_sql = spark.sql('SELECT server_id, count(*) \
                    FROM utilization \
                    WHERE session_count > 70 \
                    GROUP BY server_id \
                    ORDER BY count(*) DESC')
df_sql.show()

+---------+--------+
|server_id|count(1)|
+---------+--------+
|      101|    9808|
|      113|    9418|
|      145|    9304|
|      103|    8744|
|      102|    8586|
|      133|    8583|
|      108|    8375|
|      149|    8288|
|      137|    8248|
|      148|    8027|
|      123|    7918|
|      118|    7913|
|      112|    7425|
|      139|    7383|
|      104|    7366|
|      121|    7084|
|      142|    7084|
|      146|    7072|
|      126|    6365|
|      144|    6220|
+---------+--------+
only showing top 20 rows

In [34]:
df_sql = spark.sql('SELECT server_id, min(session_count), round(avg(session_count),2), max(session_count) \
                    FROM utilization \
                    WHERE session_count > 70 \
                    GROUP BY server_id \
                    ORDER BY count(*) DESC')
df_sql.show()

+---------+------------------+----------------------------+------------------+
|server_id|min(session_count)|round(avg(session_count), 2)|max(session_count)|
+---------+------------------+----------------------------+------------------+
|      101|                71|                       87.67|               105|
|      113|                71|                       86.96|               103|
|      145|                71|                       86.98|               103|
|      103|                71|                       85.76|               101|
|      102|                71|                       85.71|               101|
|      133|                71|                       85.47|               100|
|      108|                71|                       85.12|               100|
|      149|                71|                       84.96|                99|
|      137|                71|                       85.01|                99|
|      148|                71|                        84.7|                99|
|      123|                71|                       84.53|                98|
|      118|                71|                       84.66|                98|
|      112|                71|                       83.55|                97|
|      139|                71|                       83.33|                96|
|      104|                71|                       83.35|                96|
|      121|                71|                       82.89|                95|
|      142|                71|                        82.9|                95|
|      146|                71|                       82.95|                95|
|      126|                71|                       81.56|                93|
|      144|                71|                       81.38|                92|
+---------+------------------+----------------------------+------------------+
only showing top 20 rows

**JOINING**

In [35]:
csv_df_path = data_path + '/server_name.csv'
df_server = spark.read.csv(csv_df_path, header = True)

In [36]:
df_server.show()

+---------+-----------+
|server_id|server_name|
+---------+-----------+
|      100| 100 Server|
|      101| 101 Server|
|      102| 102 Server|
|      103| 103 Server|
|      104| 104 Server|
|      105| 105 Server|
|      106| 106 Server|
|      107| 107 Server|
|      108| 108 Server|
|      109| 109 Server|
|      110| 110 Server|
|      111| 111 Server|
|      112| 112 Server|
|      113| 113 Server|
|      114| 114 Server|
|      115| 115 Server|
|      116| 116 Server|
|      117| 117 Server|
|      118| 118 Server|
|      119| 119 Server|
+---------+-----------+
only showing top 20 rows

In [37]:
df_server.createOrReplaceTempView('server_name')

In [38]:
df_count = spark.sql('SELECT DISTINCT server_id FROM utilization ORDER BY server_id')
df_count.show()

+---------+
|server_id|
+---------+
|      100|
|      101|
|      102|
|      103|
|      104|
|      105|
|      106|
|      107|
|      108|
|      109|
|      110|
|      111|
|      112|
|      113|
|      114|
|      115|
|      116|
|      117|
|      118|
|      119|
+---------+
only showing top 20 rows

In [39]:
spark.sql('SELECT min(server_id), max(server_id) FROM utilization').show()

+--------------+--------------+
|min(server_id)|max(server_id)|
+--------------+--------------+
|           100|           149|
+--------------+--------------+

In [40]:
df_join = spark.sql('SELECT u.server_id, sn.server_name, u.session_count \
                    FROM utilization AS u \
                    INNER JOIN server_name AS sn \
                    ON sn.server_id = u.server_id')
df_join.show()

+---------+-----------+-------------+
|server_id|server_name|session_count|
+---------+-----------+-------------+
|      100| 100 Server|           47|
|      100| 100 Server|           43|
|      100| 100 Server|           62|
|      100| 100 Server|           50|
|      100| 100 Server|           43|
|      100| 100 Server|           48|
|      100| 100 Server|           58|
|      100| 100 Server|           58|
|      100| 100 Server|           62|
|      100| 100 Server|           45|
|      100| 100 Server|           47|
|      100| 100 Server|           60|
|      100| 100 Server|           57|
|      100| 100 Server|           44|
|      100| 100 Server|           47|
|      100| 100 Server|           66|
|      100| 100 Server|           65|
|      100| 100 Server|           66|
|      100| 100 Server|           42|
|      100| 100 Server|           63|
+---------+-----------+-------------+
only showing top 20 rows

**ELiminating Duplicates**

In [45]:
from pyspark.sql import Row, SQLContext

sc = spark.sparkContext

In [46]:
df_dup = sc.parallelize([Row(server_name = '101 Server', cpu_utilizattion = 85, session_count = 80), \
                        Row(server_name = '101 Server', cpu_utilization = 80, session_count = 90), \
                        Row(server_name = '102 Server', cpu_utilization = 85, session_count = 80), \
                        Row(server_name = '102 Server', cpu_utilization = 85, session_count = 80)]).toDF()

In [47]:
df_dup.show()

+-----------+----------------+-------------+
|server_name|cpu_utilizattion|session_count|
+-----------+----------------+-------------+
| 101 Server|              85|           80|
| 101 Server|              80|           90|
| 102 Server|              85|           80|
| 102 Server|              85|           80|
+-----------+----------------+-------------+

In [48]:
df_dup.drop_duplicates().show()

+-----------+----------------+-------------+
|server_name|cpu_utilizattion|session_count|
+-----------+----------------+-------------+
| 101 Server|              85|           80|
| 101 Server|              80|           90|
| 102 Server|              85|           80|
+-----------+----------------+-------------+

In [50]:
df_dup.drop_duplicates(['server_name']).show()

+-----------+----------------+-------------+
|server_name|cpu_utilizattion|session_count|
+-----------+----------------+-------------+
| 101 Server|              85|           80|
| 102 Server|              85|           80|
+-----------+----------------+-------------+

**NA Values**

In [53]:
from pyspark.sql.functions import lit
from pyspark.sql.types import StringType

In [51]:
df = sc.parallelize([Row(server_name = '101 Server', cpu_utilizattion = 85, session_count = 80), \
                        Row(server_name = '101 Server', cpu_utilization = 80, session_count = 90), \
                        Row(server_name = '102 Server', cpu_utilization = 85, session_count = 40), \
                        Row(server_name = '103 Server', cpu_utilization = 70, session_count = 80), \
                        Row(server_name = '104 Server', cpu_utilization = 60, session_count = 80)]).toDF()

In [52]:
df.show()

+-----------+----------------+-------------+
|server_name|cpu_utilizattion|session_count|
+-----------+----------------+-------------+
| 101 Server|              85|           80|
| 101 Server|              80|           90|
| 102 Server|              85|           40|
| 103 Server|              70|           80|
| 104 Server|              60|           80|
+-----------+----------------+-------------+

In [54]:
df_na = df.withColumn('na_col', lit(None).cast(StringType()))

In [55]:
df_na.show()

+-----------+----------------+-------------+------+
|server_name|cpu_utilizattion|session_count|na_col|
+-----------+----------------+-------------+------+
| 101 Server|              85|           80|  null|
| 101 Server|              80|           90|  null|
| 102 Server|              85|           40|  null|
| 103 Server|              70|           80|  null|
| 104 Server|              60|           80|  null|
+-----------+----------------+-------------+------+

In [56]:
df_na.fillna('A').show()

+-----------+----------------+-------------+------+
|server_name|cpu_utilizattion|session_count|na_col|
+-----------+----------------+-------------+------+
| 101 Server|              85|           80|     A|
| 101 Server|              80|           90|     A|
| 102 Server|              85|           40|     A|
| 103 Server|              70|           80|     A|
| 104 Server|              60|           80|     A|
+-----------+----------------+-------------+------+

In [57]:
df2 = df_na.fillna('A').union(df_na)
df2.show()

+-----------+----------------+-------------+------+
|server_name|cpu_utilizattion|session_count|na_col|
+-----------+----------------+-------------+------+
| 101 Server|              85|           80|     A|
| 101 Server|              80|           90|     A|
| 102 Server|              85|           40|     A|
| 103 Server|              70|           80|     A|
| 104 Server|              60|           80|     A|
| 101 Server|              85|           80|  null|
| 101 Server|              80|           90|  null|
| 102 Server|              85|           40|  null|
| 103 Server|              70|           80|  null|
| 104 Server|              60|           80|  null|
+-----------+----------------+-------------+------+

In [58]:
df2.na.drop().show()

+-----------+----------------+-------------+------+
|server_name|cpu_utilizattion|session_count|na_col|
+-----------+----------------+-------------+------+
| 101 Server|              85|           80|     A|
| 101 Server|              80|           90|     A|
| 102 Server|              85|           40|     A|
| 103 Server|              70|           80|     A|
| 104 Server|              60|           80|     A|
+-----------+----------------+-------------+------+

In [59]:
df2.createOrReplaceTempView('na_table')

In [60]:
spark.sql('SELECT * FROM na_table').show()

+-----------+----------------+-------------+------+
|server_name|cpu_utilizattion|session_count|na_col|
+-----------+----------------+-------------+------+
| 101 Server|              85|           80|     A|
| 101 Server|              80|           90|     A|
| 102 Server|              85|           40|     A|
| 103 Server|              70|           80|     A|
| 104 Server|              60|           80|     A|
| 101 Server|              85|           80|  null|
| 101 Server|              80|           90|  null|
| 102 Server|              85|           40|  null|
| 103 Server|              70|           80|  null|
| 104 Server|              60|           80|  null|
+-----------+----------------+-------------+------+

In [61]:
spark.sql('SELECT * FROM na_table WHERE na_col IS NULL').show()

+-----------+----------------+-------------+------+
|server_name|cpu_utilizattion|session_count|na_col|
+-----------+----------------+-------------+------+
| 101 Server|              85|           80|  null|
| 101 Server|              80|           90|  null|
| 102 Server|              85|           40|  null|
| 103 Server|              70|           80|  null|
| 104 Server|              60|           80|  null|
+-----------+----------------+-------------+------+

In [62]:
spark.sql('SELECT * FROM na_table WHERE na_col IS NOT NULL').show()

+-----------+----------------+-------------+------+
|server_name|cpu_utilizattion|session_count|na_col|
+-----------+----------------+-------------+------+
| 101 Server|              85|           80|     A|
| 101 Server|              80|           90|     A|
| 102 Server|              85|           40|     A|
| 103 Server|              70|           80|     A|
| 104 Server|              60|           80|     A|
+-----------+----------------+-------------+------+